<p id="notice"><%= notice %></p>
<div class="center">
<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-3">

      <div class="thumbnail">
      <%= image_tag listing.image.url%><br>
      <div class="caption">
        
          <p><%= number_to_currency(listing.price) %></p>
            <p><%= listing.user.name %></p>
            <%= link_to 'Show', listing, class: "btn btn-link" %>
            <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>
            <%= link_to 'Destroy', listing, class: "btn btn-link",method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      </div>
      
    </div>
  <% end %>
</div>
</div>
<br>

<%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
